DIV.main_block {

    margin: 0px;

    background-color: #F9F9F9;

    border: 1px #000000 dashed;

    padding: 0px;

    color: #797979;

}

DIV.toggle {

    padding: 5px;

    cursor: pointer;

}

div.this_block_is_hidden {

    background-color: #FFFFFF;



    padding: 5px;

    color: #000000;

    display: none;

}

input.editbox {



            display: none;

        }



li.active {
    list-style-image: url('../img/active.jpg');
    /*background-color: #F9F9F9;*/


}

li.done {
    list-style-image: url('../img/completed.jpg');
    color: green;
    /*background-color: chartreuse;*/

    /*text-decoration: line-through;*/

}


.comment{
    background:rgba(255,255,255,1);
    padding: 8px;
    margin-bottom:5px;
    border:none;
}
.white{
    background:rgba(255,255,255,1);
    padding-top: 10px;
    border:none;
}
.commentcenter{
    position:relative;
    left:43%;
}
input.textarea:focus{
    height:1.5em;
    resize:none;
}
textarea{
    height:1.5em;
    resize:none;
}